@using Hyt.BLL.Product
@model Hyt.Model.Transfer.PrtInstock
@{
    Layout = "~/Views/Shared/_PrintWh.cshtml";
    ViewBag.Title = "入库单打印";
    if (Model == null)
    {
        return;
    }
}
<style type="text/css" id="style2">
    /*.bw { width: 1210px; margin: 0 auto; }*/
    body, div, p, span, h1, h2, h3, h4, h5, h6, ol, ul, li, b, dl, dt, dd, em, i, form, input { margin: 0; padding: 0; list-style: none; }
    li{line-height:15px}
    /*h1,h2,h3,h4,h5,h6{font-family:"微软雅黑","黑体","华文细黑";}*/
    .slide { font-size: 12px; padding-top: 5px; padding-bottom: 5px; }
    .bg_f5 { background: #f5f5f5; }
    td { word-break: break-all; }
    * { margin: 0; }
    img { border: none; }
    .imgbox img { border: #ddd solid 1px; padding: 2px; }
    h1, h2 { font-size: 16px; }
    h2 { font-weight: normal; }
    h3, h4 { font-size: 14px; }
    h4 { font-weight: normal; }
    h5, h6 { font-size: 12px; }
    h6 { font-weight: normal; }
    .fl { float: left; }
    .fr { float: right; }
    .auto_left { text-align: left; padding-left: 0px; }

    body { font-family: "微软雅黑"; font-size: 12px; line-height:180%; }
    table{ font-size: 12px; }
    .clear { clear: both; height: 0; line-height: 0; }
    .print_title2 { font-size: 16px;text-align: center;font-weight: bold;margin-bottom: 25px;}
    .dcon_b1 { width: 100%; }
        .dcon_b1 .w1 { width: 140px; }
        .dcon_b1 .w2 {
            width: 140px;
        }
        .dcon_b1 .w3 {
            width: 180px;
        }
        .dcon_b1 .w4 {
            width: 160px;
        }
    .dcon_b2 { margin-top: 10px; }
        .dcon_b2 table { text-align: center; }
            .dcon_b2 table thead th { border-bottom: #000 solid 2px; }
        .dcon_b2 table { border-bottom: #000 solid 2px; }
            .dcon_b2 table tbody { line-height: 120%; }
        .dcon_b2 .total { }
    .dcon_b3 { width: 100%; margin-top: 0px; font-weight: bold; }
      .dcon_b3 .remark{ margin-bottom: 25px; }
</style>
<div id="print">
    <div class="deliverybox">
        <div class="dcon" id="dcon">
            <div id="dcon_b1">
                <div class="dcon_b1">
                    <div class="print_title2">深圳信营国际电子商务有限公司<br />仓库入库单</div>
                    <div class="fl w1">
                        入库单号：@Model.SysNo<br />
                        入库仓库：@Model.WareHouseName<br />
                    
                    </div>
                    <div class="fl w2">
                        来源类型：@((Hyt.Model.WorkflowStatus.WarehouseStatus.入库单据类型)Model.SourceType)<br />
                        来源单号：@Model.SourceSysNO<br />
                    
                    </div>
                    <div class="fl w3">
                        订单号：@Model.SoOrderSysNo<br />
                        淘宝单号：@Model.TaoBaoSysNo<br />
                      
                    </div>
                    <div class="fr w4">
                        创建人：@Hyt.BLL.Sys.SyUserBo.Instance.GetUserName(Model.CreatedBy)<br />
                        创建时间：@Model.CreatedDate.ToString("yyyy-MM-dd HH:mm")<br />

                    </div>
                    <div class="clear"></div>
                   
                </div>
            </div>
            <div id="dcon_b2">
                <div class="dcon_b2">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                @*<th width="40">序号</th>*@
                                <th width="130">编号</th>
                                <th width="130">条形码</th>
                                <th width="200">名称</th>
                                <th width="60">商品原单价</th>
                                <th width="40">数量</th>
                                <th width="100">金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (null != Model && Model.List.Count > 0)
                            {
                                var purchase = Hyt.BLL.Purchase.PrPurchaseBo.Instance.GetPrPurchaseInfo(Model.SourceSysNO);
                                var i = 1;
                                if (Model.SourceType==40)
                                {
                                    foreach (var item in purchase.PurchaseDetails)
                                    {
                                        var pd = Hyt.BLL.Product.PdProductBo.Instance.GetProduct(item.ProductSysNo);
                                         <tr style="height:18px;">
                                    <td>@item.ErpCode</td>
                                    <td>@pd.Barcode</td>
                                    <td class="auto_left">
                                        @{
                                            var name = string.Empty;
                                            ////查询订单明细，找到销售类型等于赠品，再判断订单明细里面的销售金额大于0【加购】，等于0【赠品】
                                            //var orderItem = Hyt.BLL.Order.SoOrderBo.Instance.GetOrderItem(item.OrderItemSysNo);
                                            //if (orderItem != null && orderItem.ProductSalesType == 90)
                                            //{
                                            //    name = orderItem.SalesAmount > 0 
                                            //        ? "【加购】" + Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo) 
                                            //        : "【赠品】" + Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo);
                                            //}
                                            //else
                                            //{
                                                name =  Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo);
                                            //}
                                        }
                                        @name
                                    </td>
                                    <td>@item.Money.ToString("C")</td>
                                    <td>@item.Quantity</td>

                                    <td>@item.TotalMoney.ToString("C")</td>
                                             </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                      foreach (var item in Model.List)
                                {
                                <tr style="height:18px;">
                                    @*<td>@i</td>*@
                                    <td>@item.ErpCode</td>
                                    <td>@item.Barcode</td>
                                    <td class="auto_left">
                                        @{
                                            var name = string.Empty;
                                            ////查询订单明细，找到销售类型等于赠品，再判断订单明细里面的销售金额大于0【加购】，等于0【赠品】
                                            //var orderItem = Hyt.BLL.Order.SoOrderBo.Instance.GetOrderItem(item.OrderItemSysNo);
                                            //if (orderItem != null && orderItem.ProductSalesType == 90)
                                            //{
                                            //    name = orderItem.SalesAmount > 0 
                                            //        ? "【加购】" + Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo) 
                                            //        : "【赠品】" + Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo);
                                            //}
                                            //else
                                            //{
                                                name =  Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(item.ProductSysNo);
                                            //}
                                        }
                                        @name
                                    </td>
                                    <td>@item.OriginPrice.ToString("C")</td>
                                    <td>@item.RmaQuantity</td>

                                    <td>@item.Amount.ToString("C")</td>
                                </tr>
                                    i++;
                                }
                                }
                              
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="dcon_b3">
                <div class="dcon_b3">
                    <div class="remark">
                        <span class="fr">入库金额总计：@((Model.MoneyCount).ToString("C"))     数量总计：@Model.QuantityCount.ToString() </span>
                        备注：
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>操作人：</td>
                            @*<td>扫描包装员：</td>
                            <td>发货员：</td>*@
                            <td>日期：</td>
                            @*<td>业务员：@ViewBag.DealerName</td>*@
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="divslide" class="slide divdisplay">
    <ul>
        <li>白</li>
        <li>联</li>
        <li>︵</li>
        <li>库</li>
        <li>管</li>
        <li>︶</li>
        <li>红</li>
        <li>联</li>
        <li>︵</li>
        <li>财</li>
        <li>务</li>
        <li>︶</li>
        <li>黄</li>
        <li>联</li>
        <li>︵</li>
        <li>结</li>
        <li>算</li>
        <li>︶</li>
        <li>蓝</li>
        <li>联</li>
        <li>︵</li>
        <li>客</li>
        <li>户</li>
        <li>︶</li>
    </ul>
</div>*@

<script type="text/javascript">


    function CreatePrintPage() {
        //return;
        LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
        LODOP.PRINT_INIT("拣货单打印");
        LODOP.SET_PRINT_PAGESIZE(1, 2180, 1400, '');
        //LODOP.SET_PRINT_PAGESIZE(1, "148mm", "210mm", '');
        LODOP.SET_SHOW_MODE("BKIMG_IN_PREVIEW", 1);

        var strStyle = "<style>" + document.getElementById("style2").innerHTML + "</style>";

        //LODOP.ADD_PRINT_HTM(120, "5%", "85%", "BottomMargin:30px", strStyle + document.getElementById("print").innerHTML);
        LODOP.ADD_PRINT_HTM(15, "5%", "90%", "BottomMargin:30px", strStyle + document.getElementById("dcon").innerHTML);
     

        LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);
        /*LODOP.ADD_PRINT_HTM(50, "5%", "85%", "BottomMargin:100px", strStyle + document.getElementById("dcon_b1").innerHTML);

        LODOP.ADD_PRINT_TABLE(10, 0, "85%", "BottomMargin:100px", strStyle + document.getElementById("dcon_b2").innerHTML);
        LODOP.SET_PRINT_STYLEA(0, "ItemType", 0);
        LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
        LODOP.ADD_PRINT_HTM(10, 0, "85%", "BottomMargin:100px", strStyle + document.getElementById("dcon_b3").innerHTML);
        LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 2);

        LODOP.ADD_PRINT_HTM(20, "95%", "3%", "95%", strStyle + document.getElementById("divslide").innerHTML); //侧边 
        LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
        LODOP.SET_PRINT_STYLEA(0, "Vorient", 3);*/
        
        //LODOP.ADD_PRINT_TEXT(6, "80%", 135, 20, "单号（@(Model.SysNo)）第#页/共&页");
        LODOP.SET_PRINT_STYLEA(0, "ItemType", 2);
        LODOP.SET_PRINT_STYLEA(0, "Horient", 1);
        
    }

</script>

