@using Hyt.BLL.Authentication
@using Hyt.Infrastructure.Pager
@using Hyt.Model.SystemPredefined
@using Hyt.Model.Transfer
@model PagedList<CBCrLevelPointLog>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "等级积分日志";
}                                   


@section HeadCss
{
    @Html.PrivilegeControl(PrivilegeCode.CR1004203, "button."+PrivilegeCode.CR1004203.ToString())
}
@section headjs{
    <script type="text/javascript" src="~/Theme/scripts/UI.yui.js"></script>
    <script type="text/javascript" src="~/Theme/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var customerSysNo = @ViewBag.customerSysNo;
        function dialog(content) {
            UI.Alert({
                content: content
            });
        }
        function AjaxStart() {
            window.cover = UI.Mask({ obj: $('#paging'), opacity: 0.6 });
        }
        function AjaxStop() {
            cover.Remove();
        }
        //调整会员等级积分
        function CrLevelPointLogOperate() {
            UI.DialogOpen('/CRM/CrLevelPointLogOperate?customerSysNo='+customerSysNo, {
                title: '调整会员等级积分',
                width: '470px',
                height: '220px',
                disabled:@(AdminAuthenticationBo.Instance.Current.PrivilegeList.HasPrivilege(PrivilegeCode.CR1004203)?"false":"true"),
                init: function () {
                    this.button(
                        {
                            name: '保存',
                            callback: function () {
                                var iframe = this.iframe.contentWindow;
                                iframe.add();
                                return false;
                            }, focus: true
                        },
                        {
                            name: '关闭'
                        }
                    );
                }
            }, false);
        }
        //等级日志
        function CrLevelPointLogDetail(sysNo) {
            UI.DialogOpen('/CRM/CrLevelPointLogDetail?sysNo=' + sysNo, {
                title: '会员等级变更详情',
                width: '466px',
                height: '257px',
                init: function () {
                    this.button({
                        name: '关闭'
                    });
                }
            }, false);
        }
        function doSearch() {
            var changeType = $("#changeType").val();
            AjaxStart();
            var json = {};
            json.customerSysNo = customerSysNo;
            if ($.trim(changeType) != "") {
                json.changeType = changeType;
            }

            $.get('/CRM/CrLevelPointLog/', json, function (data) {
                $('#paging').html(data);
                AjaxStop();
            });
        }
    </script>
}
<form id="form" name="form" action="">
<div class="caseout">
    <!--工具条开始-->
    <div class="boxs_tool boxs_toolbgnone p0"> 
      <!--搜索开始-->
      <div class="right_tool clearfix">
          <span class="veralign_t fl">变更类型</span>
          <div class="fl m10_l">
          <select id="changeType" name="changeType" class="select_ht28" onchange="doSearch()">
              <option value="-1">全部</option>
              @{
                  foreach (var dict in (IDictionary<int, string>)ViewBag.dictType)
                 {
                 <option value="@dict.Key">@dict.Value</option>
                 }
              }
          </select>
          </div>
      </div>
      <!--搜索结束-->
      <!--功能按钮开始-->
      <div class="left_tool">
        <button type="button" class="btn btn_ht26 m10_r @(Hyt.Model.SystemPredefined.PrivilegeCode.CR1004203.ToString())" onclick="CrLevelPointLogOperate()"><span class="icon icon_pencil"></span><span class="m5_l">调整等级积分</span></button>
      </div>
      <!--功能按钮结束-->
    </div>
    <!--工具条结束-->
    
    <!--列表开始-->
    <div class="boxs_listtabel">
    @{Html.RenderPartial("_AjaxCrLevelPointLog", Model); }
    </div>
    <!--列表结束-->
</div>
</form>