@using Hyt.BLL.Log
@using Hyt.BLL.Logistics
@using Hyt.BLL.RMA
@using Hyt.BLL.Sys
@using Hyt.BLL.Warehouse
@using Hyt.Model
@using Hyt.Model.Parameter
@using Hyt.Model.Transfer
@using Hyt.Model.WorkflowStatus
@model Hyt.Model.SoOrder
@{
    int row = 0;
    var whStockOutList = Hyt.BLL.Warehouse.WhWarehouseBo.Instance.GetWhStockOutListByOrderID(Model.SysNo);
    IList<CBFnReceiptVoucher> receiptVoucherList = null;    //收款单
    IList<CBLgDelivery> cbLgDelivery = null;                //配送单
    IList<CBLgSettlement> cbLgSettlement = null;            //结算单
    IList<CBRcReturn> cbRcReturn = null;                    //退换货单
    try
    {
        var pageList = Hyt.BLL.Finance.FinanceBo.Instance.GetReceiptVouchers(new ParaVoucherFilter { Source = (int)FinanceStatus.收款来源类型.销售单, SourceSysNo = Model.SysNo });
        if (pageList != null)
        {
            receiptVoucherList = pageList.Rows;
        }
        cbLgDelivery = LgDeliveryBo.Instance.GetDeliveryListByOrderSysNo(Model.SysNo);

        cbLgSettlement = LgSettlementBo.Instance.GetLgSettlementListByOrderSysNo(Model.SysNo);

        cbRcReturn = RmaBo.Instance.GetRmaReturnListByOrderSysNo(Model.SysNo);
    }
    catch (Exception ex)
    {
        SysLog.Instance.WriteLog(LogStatus.SysLogLevel.Error, LogStatus.系统日志来源.后台, "查询业务凭证错误:" + ex.Message,
                                           LogStatus.系统日志目标类型.订单, Model.SysNo, ex, null, 0);
    }
}
@functions{
    /// <summary>
    /// 显示商品名称或者后台显示名称
    /// </summary>
    /// <param name="productName"></param>
    /// <param name="productSysNo"></param>
    /// <returns></returns>
    string GetName(string productName,int productSysNo)
    {
        return Hyt.BLL.Product.PdProductBo.Instance.GetProductEasName(productSysNo);
    }
}
<!--出库单开始-->
<div class="boxs_listtabel m10_t">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_rnone ">
        <thead>
            <th width="100">出库单号</th>

            <th width="120">仓库名</th>
            <th width="120">仓库电话</th>
            <th align="left" class="p10_l">商品</th>
            <th width="120">创建时间</th>
            <th width="80">状态</th>
        </thead>
        <tbody>
            @foreach (Hyt.Model.WhStockOut item in whStockOutList)
            {
                row++;
                Hyt.Model.WhWarehouse w = Hyt.BLL.Warehouse.WhWarehouseBo.Instance.GetWarehouseEntity(item.WarehouseSysNo);
                if (w != null)
                {
                <tr @{if (row % 2 == 0)
                      {<text>class='stag_color'</text>}}>
                    <td class="blue"><a href="javascript:openTabWhStock(@item.SysNo)">@item.SysNo</a></td>
                    <td>@w.WarehouseName</td>
                    <td>@w.Phone</td>
                    <td align="left" class="p10_l">
                        @foreach (var p in item.Items)
                        {
                            @MvcHtmlString.Create(GetName(p.ProductName,p.ProductSysNo) + "( 数量：" + p.ProductQuantity + " )<br/>")
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.WarehouseStatus.出库单状态), item.Status)</td>

                </tr>
                }
            }
            @if (row < 1)
            {
                <tr>
                    <td colspan="6" class="align_l p10_l bgr_eb">暂无数据。</td>
                </tr>

            }
        </tbody>
    </table>
</div>
<!--出库单-->

<!--配送单-->
@if (cbLgDelivery != null && cbLgDelivery.Any())
{
    <div class="boxs_listtabel m10_t">
        <table class=" border_rnone" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    @*<th width="53">
                    <input type="checkbox" id="select_all_checkbox" /></th>*@
                    <th width="100">配送单号</th>
                    <th width="120">配送人/快递</th>

                    <th width="120">已付款单量</th>
                    <th width="120">货到付款单量</th>
                    <th class="wd100">货到付款金额</th>
                    <th>创建人</th>
                    <th width="120">创建日期</th>
                    <th width="80">状态</th>
                </tr>
            </thead>

            <tbody id="delivery_note_main_table">
                @if (cbLgDelivery.Count == 0)
                {
                    <tr id="data_tips_tr">
                        <td colspan="8" class="align_l p10_l bgr_eb">暂无数据</td>
                    </tr>
                }

                @{
                bool alter = false;
                }
                @foreach (Hyt.Model.CBLgDelivery item in cbLgDelivery)
                {
                    <tr @(alter ? "" : "class = stag_color")>
                        @*<td>
                        <input type="checkbox" name="delivery_note_box" value="@item.SysNo" /></td>*@
                        <td class="blue"><a href="javascript:openTabLgDelivery(@item.SysNo)">@item.SysNo</a></td>
                        @{
                    string deliveryUserName;
                    if (item.DeliveryUserSysNo > 0)
                    {
                        //deliveryUserName = item.DeliveryManName;
                        var syuser = Hyt.BLL.Sys.SyUserBo.Instance.GetSyUser(item.DeliveryUserSysNo);
                        deliveryUserName = syuser == null ? "未知配送人" + item.DeliveryUserSysNo : syuser.UserName;
                    }
                    else
                    {
                        var delivery = Hyt.BLL.Logistics.DeliveryTypeBo.Instance.GetDeliveryType(item.DeliveryTypeSysNo);
                        deliveryUserName = delivery == null ? "未知配送方式:" + item.DeliveryTypeSysNo : delivery.DeliveryTypeName;
                    }


                    var createUser = Hyt.BLL.Sys.SyUserBo.Instance.GetSyUser(item.CreatedBy);
                    string createName = createUser == null ? "未知创建人" : createUser.UserName;

                        }
                        <td>@deliveryUserName </td>
                        <td>@item.PaidNoteCount</td>
                        <td>@item.CODNoteCount</td>
                        <td class="red p10_r align_r">@item.CODAmount.ToString("C")</td>
                        <td>@createName</td>
                        <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            @(((Hyt.Model.WorkflowStatus.LogisticsStatus.配送单状态)item.Status).ToString())
                        </td>
                    </tr>
                
                    alter = !alter;
                }

            </tbody>
        </table>
    </div>
}
<!--配送单-->


<!--结算单-->
@if (cbLgSettlement != null && cbLgSettlement.Any())
{
    <div class="boxs_listtabel m10_t">
        <table id="tableResult" width="100%" border="0" cellspacing="0" cellpadding="0" class=" border_rnone">
            <thead>
                <tr>
                    <th width="100">结算单号</th>
                    <th width="120">仓库</th>
                    <th width="120">配送人</th>
                    <th>创建人</th>
                    <th class="wd100">实缴货款</th>
                    <th width="120">创建时间</th>
                    <th width="80px">状态</th>
                </tr>
            </thead>
            <tbody>

                @{
    if (cbLgSettlement.Count == 0)
    {
                    <tr>
                        <td colspan="7" class="align_l">&nbsp;暂无数据.</td>
                    </tr>
        return;
    }

    var count = 1;

    foreach (var m in cbLgSettlement)
    {
        if (count % 2 == 0)
        {
                    @: <tr class="stag_color">
                        }
        else
        {
                    @: <tr>
}
                        <td class="blue"><a href="javascript:openTabLgSettlement(@m.SysNo)">@m.SysNo</a></td>
                        <!-- 结算单号 -->
                        <td>@WhWarehouseBo.Instance.GetWarehouseName(m.WareHouseSysNo)</td>
                         <td>     @{
        if (m.DeliveryUserSysNo != -1)
        {
                                            @SyUserBo.Instance.GetUserName(m.DeliveryUserSysNo)
            ;
        }
        else
        {
                                            @LgSettlementBo.Instance.GetDelTypeName(m.SysNo)
            ;
        }
                                    }</td>

                        <!-- 配送人姓名 -->
                        <td>@SyUserBo.Instance.GetUserName(m.CreatedBy)</td>
                        <!-- 应缴 -->
                        <td class="align_r red "><span class="p10_r">@m.TotalAmount.ToString("C")</span></td>
                        <!--总金额 11.18-->
                        <!-- 实缴 -->
                        <td>@m.CreatedDate.ToString("yyyy-MM-dd HH:mm") </td>
                        <!-- 创建时间 -->
                        <!-- 状态 -->
                        <td name="@m.SysNo">
                            @Enum.Parse(typeof(LogisticsStatus.结算单状态), m.Status + "")
                        </td>
                        @:</tr>
                    
        count++;
    }
                }

            </tbody>
        </table>
    </div>
}
<!--结算单-->

<!--收款单-->
@if (receiptVoucherList != null && receiptVoucherList.Any())
{
    <div class="boxs_listtabel m10_t">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_rnone border_bnone">
            <thead>
                <th width="100">收款单编号</th>
                <th width="120">收入类型</th>
                <th width="120">应收金额</th>
                <th width="120">实收金额</th>
                <th>确认人</th>
                <th style="width: 120px">确认时间</th>
                <th style="width: 120px">创建时间</th>
                <th width="80">状态</th>
            </thead>
            <tbody>
                @{
    var i = 0;
    foreach (var item in receiptVoucherList)
    {
        if (i % 2 == 0)
        {
                    @Html.Raw("<tr>")
        }
        else
        {
                    @Html.Raw("<tr class='stag_color'>")
        }
                    <td class="blue"><a href="javascript:openTab(@item.SysNo)">@item.SysNo</a></td>
                    <td class="p10_lr">@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.FinanceStatus.收款单收入类型), item.IncomeType)</td>
                    <td class="red p10_r" align="right">@MvcHtmlString.Create(Hyt.Util.FormatUtil.FormatCurrency(item.IncomeAmount, 2))</td>
                    <td class="red p10_r" align="right">@MvcHtmlString.Create(Hyt.Util.FormatUtil.FormatCurrency(item.ReceivedAmount, 2))</td>
                    <td>@(item.ConfirmedDate > DateTime.MinValue ? item.Confirmer : "") </td>
                    <td>@(item.ConfirmedDate == DateTime.MinValue ? "" : item.ConfirmedDate.ToString("yyyy-MM-dd HH:mm")) </td>
                    <td>@(item.CreatedDate == DateTime.MinValue ? "" : item.CreatedDate.ToString("yyyy-MM-dd HH:mm")) </td>
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.FinanceStatus.收款单状态), item.Status)</td>
                    @Html.Raw("</tr>")
        i++;
    }
    if (i < 1)
    {
                    <tr>
                        <td colspan="8" class="align_l p10_l bgr_eb">暂无数据。</td>
                    </tr>

    }                               
                }
            </tbody>
        </table>
    </div>
}
<!--收款单-->

<!--退换货单-->
@if (cbRcReturn != null && cbRcReturn.Any())
{
    <div class="boxs_listtabel m10_t">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="list_tit border_rnone border_bnone">
            <thead>
                <tr>
                    <th width="100">RMA单号</th>
                    <th width="120">RMA类型</th>
                    <th width="120">销售单号</th>
                    <th width="100">会员帐号</th>
                    <th width="100">退还金额</th>

                    <th width="100">申请单来源</th>
                    <th width="100">处理部门</th>
                    <th>入库仓库</th>
                    <th width="120">创建时间</th>
                    <th width="80">状态</th>
                </tr>
            </thead>
            <tbody>
                @{
    if (!cbRcReturn.Any())
    {
                    <tr>
                        <td colspan="10" class="align_l p10_l bgr_eb">暂无数据。</td>
                    </tr>
    }
    int i = 0;
    foreach (var item in cbRcReturn)
    {

        if (i % 2 == 0)
        {
                    @Html.Raw("<tr>")
        }
        else
        {
                    @Html.Raw("<tr class='stag_color'>")
        }                   
                    <td class="blue"><a href="javascript:openTabRcReturn(@item.SysNo)">@item.SysNo</a></td>
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.RmaStatus.RMA类型), item.RmaType)</td>
                    <td>@item.OrderSysNo</td>
                    <td>@item.CustomerAccount</td>
                    <td align="right" class="red p10_r">@MvcHtmlString.Create(Hyt.Util.FormatUtil.FormatCurrency(item.RefundTotalAmount, 2))</td>
                    
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.RmaStatus.退换货申请单来源), item.Source)</td>
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.RmaStatus.退换货处理部门), item.HandleDepartment)</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.RmaStatus.退换货状态), item.Status)</td>
                    @Html.Raw("</tr>")
        i++;
    }
                }
            </tbody>
        </table>
    </div>
}
<!--退换货单-->



<script type="text/javascript">
    //收款单
    function openTab(id) {
        UI.DialogOpen('/Finance/ViewReceiptVoucherDetail/' + id, {
            init: function () {
                var doc = this.iframe.contentWindow.document;
                $(doc).find('div.case').css('padding', '10px');
                var leftTool = $(doc).find('.left_tool');
                if (leftTool.length == 0) {
                    this.size(960, 658);
                }
            },
            width: 960,
            height: 658,
            resize: false,
            title: '收款单:' + id,
            button: [{ name: '关闭' }],
            footerClass: ''
        }, true);
    }
    //出库单
    function openTabWhStock(id) {
        UI.DialogOpen('/Warehouse/StockOutInfo?whStockOutSysNo=' + id, {
            init: function () {
                var doc = this.iframe.contentWindow.document;
                $(doc).find('div.case').css('padding', '10px');
                var leftTool = $(doc).find('.left_tool');
                if (leftTool.length == 0) {
                    this.size(960, 658);
                }
            },
            width: 960,
            height: 658,
            resize: false,
            title: '出库单:' + id,
            button: [{ name: '关闭' }],
            footerClass: ''
        }, true);
    }
    //配送单
    function openTabLgDelivery(id) {
        UI.DialogOpen('/Logistics/DeliveryNoteDetails/' + id, {
            init: function () {
                var doc = this.iframe.contentWindow.document;
                $(doc).find('div.case').css('padding', '10px');
                var leftTool = $(doc).find('.left_tool');
                if (leftTool.length == 0) {
                    this.size(960, 658);
                }
            },
            width: 960,
            height: 658,
            resize: false,
            title: '配送单:' + id,
            button: [{ name: '关闭' }],
            footerClass: ''
        }, true);
    }
    //结算单
    function openTabLgSettlement(id) {
        UI.DialogOpen('/Logistics/LgSettlementDetails/' + id + '?IsView=true', {
            init: function () {
                var doc = this.iframe.contentWindow.document;
                $(doc).find('div.case').css('padding', '10px');
                var leftTool = $(doc).find('.left_tool');
                if (leftTool.length == 0) {
                    this.size(960, 658);
                }
            },
            width: 960,
            height: 658,
            resize: false,
            title: '结算单:' + id,
            button: [{ name: '关闭' }],
            footerClass: ''
        }, true);
    }
    //退换货单
    function openTabRcReturn(id) {
        UI.DialogOpen('/RMA/RmaReturnView/' + id, {
            init: function () {
                var doc = this.iframe.contentWindow.document;
                $(doc).find('div.case').css('padding', '10px');
                var leftTool = $(doc).find('.left_tool');
                if (leftTool.length == 0) {
                    this.size(960, 658);
                }
            },
            width: 960,
            height: 658,
            resize: false,
            title: '退换货单:' + id,
            button: [{ name: '关闭' }],
            footerClass: ''
        }, true);
    }
</script>
