@using Hyt.Infrastructure.Pager
@using Hyt.Model
@using Hyt.Util.Extension
@using Hyt.Util
@model PagedList<Hyt.Model.CBPdProductDetail>

@Html.PrivilegeControl(Hyt.Model.SystemPredefined.PrivilegeCode.PD1001601, ".PD1001601")
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_bnone border_rnone">
    <thead>
        <tr>
            <th width="53">
                <input name="sysNo" id="checkall" type="checkbox" />
                <input name="SpecialPriceSysNoList" id="SpecialPriceSysNoList" type="hidden" value="@Model.IdData" />
            </th>
            <th width="150px" class="align_l p10_lr">商品编号</th>
            <th width="" class="align_l p10_lr">后台显示名称</th>
            <th width="140" class="align_l p10_lr">主分类</th>
            <th width="90">商品类型</th>
            <th width="90">基础价格</th>
            <th width="90">原会员价格</th>
            <th width="110">分销商名称</th>
            <th width="110">分销商会员价格</th>
            <th width="110">线下门店价格</th>
            <th width="60">总部状态</th> 
            <th width="60">状态</th>
            <th width="90">操作</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.TData.Count == 0)
            {
            <tr class="odd_color trhover">
                <td colspan="9" class="align_l p10_l bgr_eb">暂无数据</td>
            </tr>
                return;
            }
            int i = 0;
            foreach (var item in Model.TData)
            {
                if (i % 2 == 0)
                {
            @Html.Raw("<tr>")
                }
                else
                {
            @Html.Raw("<tr class='stag_color'>")
                }
                i++;
            <td>
                <input name="sysNo" @if (item.MainStatus == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.下架)
                                    { @Html.Raw("disabled=\"disabled\"")  } type="checkbox" value="@item.SysNo" spsysno="@item.SpecialPriceSysNo" />
               
            </td>
            <td class="align_l blue p10_lr"><a href="javascript:void(0);" class="showProduct">@item.ErpCode</a></td>
            <td class="align_l blue p10_lr"><a href="javascript:void(0);" class="showProduct">@if (item.CanFrontEndOrder == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品是否前台下单.否)
                                                                                              { <span class="iconn_eye_close" title="不能前台下单"></span>
                                                                                              } @Html.Raw(item.EasName.HtmlEncode())</a></td>
            <td class="align_l p10_lr">@item.ProductCategoryName</td>
            <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.ProductStatus.商品类型), item.ProductType)</td>
            <td><a href="javascript:;"><span class="red p10_r">@item.BasicPrice.ToString("C")</span></a></td>
            <td><a href="javascript:;"><span class="red p10_r">@item.SalesPrice.ToString("C")</span></a></td>
            <td class="align_l p10_lr">@item.DealerName</td>
            <td>
                @if (item.Status == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.上架 || item.MainStatus == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.下架)
                {
                    <a href="javascript:;"><span class="red p10_r">@item.spSalesPrice.ToString("C")</span></a>
                }
                else
                {
                    <input type="text" class="clsPrice" style="width: 70px;" value="@(item.spSalesPrice != null && item.spSalesPrice != 0 ? item.spSalesPrice : item.SalesPrice)" salesprice="@item.SalesPrice" />
                }
            </td>
            <td>
                @if (item.Status == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.上架 || item.MainStatus == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.下架)
                {
                    <a href="javascript:;"><span class="red p10_r">@item.spShopPrice.ToString("C")</span></a>
                }
                else
                {
                    <input type="text" class="clsShopPrice" style="width: 70px;" value="@(item.spShopPrice)" salesprice="@item.spShopPrice" />
                }
            </td>
            <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.ProductStatus.商品状态), item.MainStatus)</td>
            <td>@Hyt.Util.EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.ProductStatus.商品状态), item.Status)</td>
            <td>
                @if (item.Status == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.上架)
                {
                    if (item.DealerSysNo==347||item.DealerSysNo==336||item.DealerSysNo==44||item.DealerSysNo==14||item.DealerSysNo==0)
                    {
                        
                    }else
                    {
                         <button class="btn btn_ht26 forbid m10_r DS1011505"><span class="icon icon_outtoStore"></span><span class="m5_l">下架</span></button>
                    }
                   
                }
                else
                {
                    if (item.DealerSysNo==347||item.DealerSysNo==336||item.DealerSysNo==44||item.DealerSysNo==14||item.DealerSysNo==0)
                    {
                   
                    }
                    else
                    {
                         if (item.MainStatus == (int)Hyt.Model.WorkflowStatus.ProductStatus.商品状态.下架)
                    {
                        <button class="btn btn_ht26 agree m10_r DS1011505" disabled="disabled"><span class="icon icon_intoStore"></span><span class="m5_l">上架</span></button>
                    }
                    else
                    {
                        <button class="btn btn_blue btn_ht26 agree m10_r DS1011505"><span class="icon icon_white icon_intoStore"></span><span class="m5_l">上架</span></button>
                    }
                    }
                }
                @*<button class="btn btn_red btn_ht26 m10_l LG1001401" onclick="DeleteDealerMallProduct(@item.PAssociationSysNo)" title="删除"><span class="icon_trash icon_white"></span><span class="m5_l">删除</span></button>*@
            </td>
            @Html.Raw("</tr>")
            }
        }
    </tbody>
</table> 



@{Html.RenderPartial("_UrlPaging", Model); }
<script type="text/javascript">
    var forbid = "@Hyt.Model.WorkflowStatus.ProductStatus.商品状态.下架.GetHashCode()";
    var agree = "@Hyt.Model.WorkflowStatus.ProductStatus.商品状态.上架.GetHashCode()";
    function changeStatus(obj, status) {
        var no = $(obj).closest("tr").find("input:checkbox").attr("PASysNo");
        var jsonData = { Status: status, SysNo: no };
        $.ajax({
            url: "/Distribution/UpdateDealerMallProductStatus", //此处后台做调价判断
            type: "post",
            dataType: 'json',
            data: jsonData,
            success: function (result) {
                if (result.Status) {
                    UI.tips.tip_alert('tips_shrot tips_success', '操作成功！');
                    @*if (currentSearchType == 2) {
                        doComplexSearch(@Model.CurrentPageIndex);
                    } else {
                        doSearch(@Model.CurrentPageIndex);
                    }*@
                    RefreshCurrentPage();
                } else {
                    var message = "操作失败";
                    if (!!result && !!result.Message) {
                        message = result.Message;
                    }
                    UI.Alert({ content: message });
                }
            }
        });
    }
    function CreateSpecialPrice(obj) {
        var dealersysno = $("#dealerSysNo").val();
        var productsysno = $(obj).closest("tr").find("input:checkbox").val();
        var price = $(obj).closest("tr").find(".clsPrice").val();
        var shopPrice = $(obj).closest("tr").find(".clsShopPrice").val();  //0
        //var salesPrice = $(obj).closest("tr").find(".clsPrice").attr("SalesPrice");  //0
        var jsonData = {
            DealerSysNo: dealersysno,
            ProductSysNo: productsysno,
            Price: price,
            ShopPrice: shopPrice,
        };
        $.ajax({
            url: "/Distribution/CreateSpecialPrice",
            type: "post",
            dataType: 'json',
            data: jsonData,
            success: function (result) {
                if (result.Status) {
                    UI.tips.tip_alert('tips_shrot tips_success', '操作成功！');
                    @*if (currentSearchType == 2) {
                        doComplexSearch(@Model.CurrentPageIndex);
                    } else {
                        doSearch(@Model.CurrentPageIndex);
                    }*@
                    RefreshCurrentPage();
                } else {
                    var message = "操作失败";
                    if (!!result && !!result.Message) {
                        message = result.Message;
                    }
                    UI.Alert({ content: message });
                    RefreshCurrentPage();
                }
            }
        });
    }
    function UpdateSSPriceStatus(obj) {
        var no = $(obj).closest("tr").find("input:checkbox").attr("spsysno");
        var jsonData = {SysNo: no};
        $.ajax({
            url: "/Distribution/UpdateSSPriceStatus",
            type: "post",
            dataType: 'json',
            data: jsonData,
            success: function (result) {
                if (result.Status) {
                    UI.tips.tip_alert('tips_shrot tips_success', '操作成功！');
                    @*if (currentSearchType == 2) {
                        doComplexSearch(@Model.CurrentPageIndex);
                    } else {
                        doSearch(@Model.CurrentPageIndex);
                    }*@
                    RefreshCurrentPage();
                } else {
                    var message = "操作失败";
                    if (!!result && !!result.Message) {
                        message = result.Message;
                    }
                    UI.Alert({ content: message });
                }
            }
        });
    }

    $(".showDetail").click(function () {
        var sysno = $(this).closest("tr").find("input:checkbox").val();
        UI.OpenCreatTab('修改商品', "@Url.Action("EditProduct", "Product")" + "?sysNo=" + sysno);
    });

    $(".showProduct").click(function () {
        var sysno = $(this).closest("tr").find("input:checkbox").val();
        var productName = $(this).text();
        UI.OpenCreatTab('商品详情', "@Url.Action("ViewProduct", "Product")" + "?sysNo=" + sysno);
    });

    $(".copy").click(function () {
        var sysno = $(this).closest("tr").find("input:checkbox").val();
        DAO.CopyProduct({
            productSysno: sysno, callBack: function (data) {
                if (!!data && data.Status)
                {
                    UI.OpenCreatTab('修改商品', "@Url.Action("EditProduct", "Product")" + "?sysNo=" + data.StatusCode);
                }
            }
        });
    });


    $(".forbid, .agree").click(function () {
        var status = $(this).hasClass("forbid") ? forbid : agree;
        var obj = this;
        if (status == forbid) {
            UI.Confirm({
                content: '您确定要下架吗?',
                ok: function () {
                    //changeStatus(obj, status);
                    UpdateSSPriceStatus(obj);
                },
                cancelVal: '取消',
                cancel: true
            });
        } else {
            if ($("#dealerSysNo").val() == null) {
                UI.Alert({ content: "请选择分销商" });
                return false;
            }
            UI.Confirm({
                content: '您确定要上架吗?',
                ok: function () {
                    //点击按钮判断调价
                    var dealersysno = $("#dealerSysNo").val();
                    var productsysno = $(obj).closest("tr").find("input:checkbox").val();
                    var price = $(obj).closest("tr").find(".clsPrice").val();
                    var shopPrice = $(obj).closest("tr").find(".clsShopPrice").val();  
                    var salesPrice = $(obj).closest("tr").find(".clsPrice").attr("SalesPrice");  
                    var jsonData = {
                        DealerSysNo: dealersysno,
                        ProductSysNo: productsysno,
                        Price: price,
                        ShopPrice: shopPrice,
                        SalesPrice: salesPrice
                    };
                    $.ajax({
                        url: "/Distribution/JudgeSpecialPrice",
                        type: "post",
                        dataType: 'json',
                        data: jsonData,
                        success: function (result) {
                            if (!result.Status) {
                                alert(result.Message); 
                            } else {
                                CreateSpecialPrice(obj)
                            }
                        }
                    });
                },
                cancelVal: '取消',
                cancel: true
            });
        }

    });

    //判断调价范围
    $("input.clsPrice").blur(function () {
        var obj = $(this);
        var Price = obj.val();
        var SalesPrice = obj.attr("SalesPrice");
        var jsonData = { Price: Price, SalesPrice: SalesPrice, DealerSysNo: $("#dealerSysNo").val() };
        $.ajax({
            url: "/Distribution/JudgeSpecialPrice",
            type: "post",
            dataType: 'json',
            data: jsonData,
            success: function (result) {
                if (!result.Status) {
                    obj.val(SalesPrice);
                    UI.Alert({ content: result.Message });
                }
            }
        });
    });

    $(function () {
        //查找已被选中项，checkedsysnolist,checkedsysnopricelist(SpecialPriceProductList.cshtml中全局变量) 王耀发 2015-11-03
        if (checkedsysnolist.length > 0) {
            $("#paging input:checkbox").each(function () {
                var SysNo = $(this).attr("spsysno");
                if (checkedsysnolist.indexOf(SysNo) != '-1') {
                    $(this).attr("checked", true);
                }
            });
        }

        if (checkedspsysnopricelist.length > 0) {
            $("#paging input:checkbox").each(function () {
                var SysNo = $(this).attr("spsysno");
                var Price = $(this).closest("tr").find(".clsPrice").val();
                if (Price != undefined) {
                    SnoPrice = SysNo + ':' + Price;
                    if (checkedspsysnopricelist.indexOf(SnoPrice) != '-1') {
                        $(this).attr("checked", true);
                    }
                }
            });
        }

        if (checkedsysnopricelist.length > 0) {
            $("#paging input:checkbox").each(function () {
                var SysNo = $(this).val();
                var Price = $(this).closest("tr").find(".clsPrice").val();
                if (Price != undefined) {
                    SnoPrice = SysNo + ':' + Price;
                    if (checkedsysnopricelist.indexOf(SnoPrice) != '-1') {
                        $(this).attr("checked", true);
                    }
                }
            });
        }
    });

    //异步刷新当前页，不适用于删除功能使用后刷新
    function RefreshCurrentPage() {
        try {
            $(window).data('CurrentPageFuc')();
        } catch (e) {
            if (currentSearchType == 2) {
                doComplexSearch(@Model.CurrentPageIndex);
            } else {
                doSearch(@Model.CurrentPageIndex);
            }
            //if (isSearch)
            //    doSearch();
            //else
            //    doComplexSearch(1);
        }
    }
</script>
