@{
    ViewBag.Title = "微信子级菜单管理";
}
@section headjs{
    <script src="@Url.Content("~/Theme/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Theme/Plugins/Dialog/Dialog.yui.js")"></script>

    <script type="text/javascript">
        $(function () {
            //弹出地区
            var options = {
                onlyLeaftSelect: true,
                isAll: true,
                margin: {
                    vertical: 0,
                    horizontal: 0
                },
                zIndex: 5
            };
            DAO.SelectArea($("#JS_outbox"), $("#txt_aprentArea"), options);
            doSearch();
            $("#btn_search").click(function () {
                doSearch();
            });
            $("#Type").change(function () {
                doSearch();
            });
            //注册页面回车事件为查询操作
            $(document).keydown(function (e) {
                if (13 == e.keyCode) {
                    doSearch();
                }
            });

            //新增弹出
            $("#AddSub").bind("click", function () {
                UI.DialogOpen('/Distribution/MkCustomizeSubMenuCreate/?Pid=' + $("#Pid").val(), {
                    width: 800,
                    height: 275,
                    title: '新建子级',
                    button: [{
                        name: '保存',
                        callback: function () {

                        },
                        focus: true
                    },
                        { name: '取消' }
                    ]
                }, false);
            });
        });

        function Edit(id) {
            UI.DialogOpen('/Distribution/MkCustomizeSubMenuCreate?id=' + id + '&Pid=' + $("#Pid").val(), {
                width: 800,
                height: 275,
                title: '编辑子级',
                button: [{
                    name: '保存',
                    callback: function () {

                    },
                    focus: true
                },
                    { name: '取消' }
                ]
            }, false);
        }

        function Delete(myid) {
            UI.Confirm({
                content: "确认删除?",
                ok: function () {
                    $.post('/Distribution/DeleteMkCustomizeMenu', { id: myid }, function (r) {
                        if (r.Status) {
                            showTip("删除成功");
                        }
                        else {
                            UI.Alert({
                                content: r.Message
                            });
                        }

                    });
                },
                cancel: true
            });
        }

        function showTip(tip) {
            UI.tips.tip_alert('tips_success', tip);
            doSearch();
        }
        function doSearch() {
            var mask = UI.Mask({ obj: $('body'), opacity: 0.2 });
            var data = {};
            var Name = $("#Name").val();
            if (Name && Name != "请输入名称...") data.Name = Name;
            data.Type = $("#Type").val();
            data.Pid = $("#Pid").val();
            $.get('@Url.Action("MkCustomizeSubMenuList", "Distribution")', data,
               function (ret) {
                   $('#paging').html(ret);
                   mask.Remove();
               });
        }

    </script>
}
<input type="hidden" id="Pid" value="@ViewBag.Pid"/>
<div class="case">
    <div class="boxs_tit head_m">
        <span class="ra10 c6">
            <button class="btn btn_ht26 m10_r btn_blue" onclick="window.location.href = '/Distribution/MkCustomizeMenuList'" type="button"><span class="icon_share_alt icon_white"></span><span class="m5_l">返回</span></button>
        </span>
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="boxs_con_c1">
        <div class="boxs_tool">
            <div class="right_tool clearfix">
                <span class="veralign_t fl">类型</span>
                <div class="fl m10_l" style="margin-right: 10px">
                    <select id="Type">
                        <option value="">全选</option>
                        <option value="view">视图</option>
                        <option value="click">点击</option>
                    </select>
                </div>

                <div class="m10_r fl search_btn ">
                    <input type="text" id="Name" name="Name" placeholder="请输入名称..." maxlength="20" class="input_ht28 fl m10_r">
                    <button title="搜索" class="btn btn_ht28 fl btn_blue" id="btn_search"><span class="icon_search icon_white"></span><span class="m5_l"></span></button>
                </div>
            </div>
            <div>
                <button class="btn btn_ht26 m10_r btn_blue DS1017102" id="AddSub" title="新建"><span class="icon_plus icon_white"></span><span class="m5_l">新建子级</span></button>
            </div>
        </div>
        <div class="boxs_list">
            <div id="paging" class="boxs_listtabel">
            </div>
        </div>
    </div>
</div>
