@model Hyt.Model.Transfer.CBSpCouponCardType
@{
    ViewBag.Title = "优惠卡类型";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string t1 = "";
    string t2 = "";
    if (Model.StartTime > DateTime.MinValue)
    {
        t1 = Model.StartTime.ToString("yyyy-MM-dd HH:mm");
    }
    if (Model.EndTime > DateTime.MinValue)
    {
        t2 = Model.EndTime.ToString("yyyy-MM-dd HH:mm");
    }
}
@section HeadJs{
    <script type="text/javascript" src="@Url.Content("~/Theme/scripts/UI.yui.js")" ></script>
    <script type="text/javascript" src="/Theme/Plugins/Date/WdatePicker.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/scripts/jquery.validate.yui.js")"></script>
}
<form id="form1">
    <div class="caseout">
        <div class="boxs_detail_dispay">
            <div class="tit_con">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="20%" class="nameright border_rnone">类型名称</td>
                            <td width="80%">
                                <input id="TypeName" name="TypeName" type="text" maxlength="100" class="wd270" required="true" value="@Model.TypeName" />
                                <span id="c_TypeName" class="prompt m10_l">填写类型名称</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="nameright border_rnone">类型描述</td>
                            <td>
                                <textarea id="TypeDescription" name="TypeDescription" maxlength="500" class="wd270" style="height: 50px" required="true">@Model.TypeDescription</textarea>
                                <span id="c_TypeDescription" class="prompt m10_l">填写类型描述</span></td>
                        </tr>
                        <tr>
                            <td valign="top" class="nameright border_rnone">有效时间起</td>
                            <td>
                                <div class="date_btn fl">
                                    <input type="text" value="@t1" class="input_ht26" id="StartTime" name="StartTime" required="true"  dateCN="true">
                                    <button title="日历" class="btn btn_ht26" onclick="UI.Date({el:'StartTime',dateFmt:'yyyy-MM-dd HH:mm'});return false;"><span class="icon_calendar"></span></button>
                                </div>
                                <span id="c_StartTime" class="prompt m10_l">填写有效时间起</span>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" class="nameright border_rnone">有效时间止</td>
                            <td>
                                <div class="date_btn fl">
                                    <input type="text" value="@t2" class="input_ht26" id="EndTime" name="EndTime" required="true" dateCN="true" >
                                    <button title="日历" class="btn btn_ht26" onclick="UI.Date({el:'EndTime',dateFmt:'yyyy-MM-dd HH:mm'});return false;"><span class="icon_calendar"></span></button>
                                </div>
                                <span id="c_EndTime" class="prompt m10_l">填写有效时间止</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="nameright border_rnone" valign="top">状态</td>
                            <td>
                                <input name="Status" type="radio" value="1" id="radio1" @if (Model.Status == Hyt.Model.WorkflowStatus.PromotionStatus.优惠券卡类型状态.启用.GetHashCode())
                                                                                        {<text>checked</text>} />
                                启用&nbsp;&nbsp;<input name="Status" type="radio" value="0" id="radio0" @if (Model.Status == Hyt.Model.WorkflowStatus.PromotionStatus.优惠券卡类型状态.禁用.GetHashCode())
                                                                                                      {<text>checked</text>} />禁用

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="head_detail" style="border-top: none;">
            <h5>
                <button id="btnSelect" class="btn btn_ht26 m3_t" type="button"><span class="icon icon_plus"></span><span class="m5_l">关联优惠券</span></button></h5>
        </div>

        <div class="boxs_detail border_lnone">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_lefte1 border_righte1">
                <thead>
                    <tr>
                        <th class="border_lnone align_l p10_lr">优惠券描述</th>
                        <th width="85">代码</th>
                        <th width="85">优惠券金额</th>
                        <th width="68">绑定次数</th>
                        <th width="80">操作</th>
                    </tr>
                </thead>
                <tbody id="bodyYY">
                    @{
                        if (Model.AssociateItem != null)
                        {
                            foreach (var item in Model.AssociateItem)
                            {
                        <tr data="@item.CouponSysNo">
                            <td>@Html.Raw(item.Description)</td>
                            <td>@Html.Raw(item.CouponCode)</td>
                            <td>@Html.Raw(item.CouponAmount)</td>
                            <td>
                                <input type="text" id='@Html.Raw("input" + item.CouponSysNo)'  sysno="@item.CouponSysNo" type="text" name="inputNum"  style="width:48px"  maxlength="5" digits="true" required="true" min="1" value="@item.BindNumber" />
                            </td>
                            <td>
                                <button class="btn btn_ht26" type="button" onclick="$(this).parent().parent().remove();"><span class="icon icon_trash"></span><span class="m5_l">删除</span></button>
                            </td>
                        </tr>

                            }
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</form>
<input type="hidden" id="SysNo" name="SysNo" value="@Model.SysNo" />
<script lang="javascript" type="text/javascript">

    //加载按钮
    function LoadBtn() {
        var parent = artDialog.open.origin,		// 父页面window对象
        api = art.dialog.open.api;	// 			art.dialog.open扩展方法
        if (!api) return;
        // 自定义按钮
        api.button(
            {
                name: '保存',
                callback: function () {

                    var $iframe = this.iframe.contentWindow;
                    $iframe.Save(parent);
                    return false;
                },
                focus: true
            },
            {
                name: '取消'
            }
        );
    }
    //保存数据
    function Save(win) {
        if (!setting.form()) {
            return false;
        }
        if (!checkEndTime()) {
            UI.Alert({
                content: "起止日期有误"
            });
            return;
        }
        var arr = new Array();
        $("input[name='inputNum']").each(function (i, o) {
            var item = {
                CardTypeSysNo: $("#SysNo").val(),
                CouponSysNo: $(o).attr("sysno"),
                BindNumber: $(o).val()
            };
            arr.push(item);
        });
        if (arr.length < 1) {
            UI.Alert({
                content: "至少关联1个优惠券"
            });
            return;
        }
        var main = {
            SysNo: $("#SysNo").val(),
            TypeName: $("#TypeName").val(),
            TypeDescription: $("#TypeDescription").val(),
            StartTime: $("#StartTime").val(),
            EndTime: $("#EndTime").val(),
            Status: $('input:radio[name="Status"]:checked').val(),
            AssociateItem: arr
        };
        var sendjson = JSON.stringify(main);
        $.ajax({
            url: '/Promotion/SaveCouponCardType',
            type: 'POST',
            cache: false,
            data: sendjson,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.Status) {
                    UI.CloseDialog();
                    win.SuccessTip();
                }
                else {
                    UI.Alert({
                        content: result.Message

                    });
                }
            }
        });

    }
    function checkEndTime() {
        var startTime = $("#StartTime").val();
        var start = new Date(startTime.replace("-", "/").replace("-", "/"));
        var endTime = $("#EndTime").val();
        var end = new Date(endTime.replace("-", "/").replace("-", "/"));
        if (end < start) {
            return false;

        }
        return true;
    }
    function AddCoupOn(SysNo, CouponCode, Description, CouponAmount) {
        var input = $("#input" + SysNo);
        if (input.length > 0) {
            try {
                var num = parseInt(input.val());
                if (!isNaN(num)) {
                    input.val(num + 1);
                }
                else {
                    input.val(1);
                }
            }
            catch (e) {
                input.val(1);
            }
        }
        else {
            var td1 = $("<td></td>").html(Description);
            var td2 = $("<td></td>").html(CouponCode);
            var td3 = $("<td></td>").html(CouponAmount);
            var td4 = $("<td></td>").html('<input id="input' + SysNo + '" sysno="' + SysNo + '" type="text" name="inputNum"  style="width:48px"  maxlength="5" digits="true" required="true" min="1" value="1"/> ');
            var td5 = $("<td></td>").html('<button class="btn btn_ht26" type="button" onclick="$(this).parent().parent().remove();"><span class="icon icon_trash"></span><span class="m5_l">删除</span></button>');
            var tr = $("<tr></tr>").attr("data", SysNo);
            tr.append(td1);
            tr.append(td2);
            tr.append(td3);
            tr.append(td4);
            tr.append(td5);
            tr.appendTo($("#bodyYY"));
        }
    }
    $(function () {
        LoadBtn();
        LoadRule();
        $("#btnSelect").click(function () {
            var url = '/Promotion/SelectCardCoupon';
            UI.DialogOpen(url, {
                title: '选择优惠券',
                width: '640px',
                height: '400px'
            }, false);
        });
    });
    var setting;
    //加载验证规则
    function LoadRule() {
        setting = $("#form1").validate({
            onclick: false,
            onkeyup: false,
            rules: {


            },
            errorPlacement: function (error, el) {
                $('#c_' + el.attr('id')).attr('class', 'error m10_l');
            },
            success: function (label, el) {
                $('#c_' + el.attr('id')).attr('class', 'success m10_l');
            },
            ignore: ""
        });
    }
    //日期验证
    jQuery.validator.addMethod("dateCN", function (value, element) {
        value = value.replace(/-/g, '\/');
        return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
    }, "日期格式错误");
</script>
