@using Hyt.Model
@using Hyt.Model.SystemPredefined
@using Hyt.Model.WorkflowStatus
@model Hyt.Infrastructure.Pager.PagedList<MkWeixinKeywordsReply>
@*partial view*@

@{
    @Html.PrivilegeControl(PrivilegeCode.UN1006301, "button[name=btnConEdit],button[name=btnConEnable],button[name=btnConDisable]");//update
    @Html.PrivilegeControl(PrivilegeCode.UN1006401, "button[name=btnConDel]");//delete
}

@section HeadJs
{
    <script type="text/javascript">
        $(document).ready(function() {
            //checkbox 
            //UI.CheckAllbox(".boxs_listtabel", ".checkall");

            //$('#contentChkAll').click(function() {
            //    $('input.contentChk').prop('checked', $(this).prop('checked'));
            //});

            //$('[name=btnView]').click(function () {
            //    createOrUpdate($(this).siblings('[name=btnDel]').attr('id'), 'view', $(this).parents('tr').find('td[name=Keywords]').text());
            //});

        });
    </script>
}
<div id="paging">
    <!-- targetUpdateId -->
    <!-- content to render -->


    <table id="tableResult" width="100%" border="0" cellspacing="0" cellpadding="0" class="border_bnone border_rnone">
        <thead>
            <tr>
                <!-- header 关键词 回复条数 状态 操作 若没有autowidth的column,则第二列设置为autowidth-->
                <th width="53px">
                    <input id="contentChkAll" class="checkall" type="checkbox" value=""></th>
                <th width="46px">类型</th>
                <th>内容</th>
                <th width="46px">状态</th>
                <th width="217px">操作</th>

            </tr>
        </thead>
        <tbody>

            @{
                if (Model != null && Model.TData.Count > 0)
                {


                    int count = 1;

                    foreach (MkWeixinKeywordsReply m in Model.TData)
                    {
                        if (count % 2 == 0)
                        {
                @: <tr name="@m.SysNo" class="stag_color">
                        }
                        else
                        {
                @: <tr name="@m.SysNo">
}


                        <td><input type="checkbox" class="contentChk" name="@m.SysNo" value=""></td>
                        <td name="ReplyType">@Enum.Parse(typeof(MarketingStatus.微信关键词回复类型), m.ReplyType + "")</td>
                        <td name="Content"><!-- content/desc -->
                            <img src="@m.Image"/>
                            <p>@m.Content</p>
                        </td>
                        <td name="Status" selval="@m.Status" mTiTle="@m.Title" mHyperlink="@m.Hyperlink">
                            @Enum.Parse(typeof(MarketingStatus.微信关键词回复状态), m.Status + "")
                        </td>
                        <td>
                                    

                            @if (Enum.Parse(typeof(MarketingStatus.微信关键词状态), m.Status + "").ToString() == "启用")
                            {
                                <button type="button" name="btnConEdit" mix="@m.Image" timespan="@m.LastUpdateDate" class="btn btn_blue btn_ht26 m10_r" ><span class="icon_pencil icon_white"></span><span class="m5_l">修改</span></button><button type="button" id="@m.SysNo" name="btnConDel" class="btn btn_red btn_ht26  m10_r"><span class="icon_trash icon_white"></span><span class="m5_l">删除</span></button><button type="button" name="btnConEnable" class="btn btn_red btn_ht26" ><span class="icon_ban_circle icon_white"></span><span class="m5_l">禁用</span></button>
                            }
                            else
                            {
                                <button type="button" name="btnConEdit" class="btn btn_blue btn_ht26 m10_r" ><span class="icon_pencil icon_white"></span><span class="m5_l">修改</span></button><button type="button" id="@m.SysNo" name="btnConDel" class="btn btn_red btn_ht26  m10_r"><span class="icon_trash icon_white"></span><span class="m5_l">删除</span></button><button type="button" name="btnConDisable" class="btn btn_red btn_ht26" ><span class="icon_check icon_white"></span><span class="m5_l">启用</span></button>
                            }
                            
                        </td>
                
                        @:</tr>
                                
                            count++;
                    }
                }

                else
                {
                <tr class="odd_color">
                    <td class="align_l p10_l bgr_eb" colspan="10">暂无数据</td>
                </tr>
                }
            }

        </tbody>
    </table>

    <!-- paging invoked 
        render the page foot,need "jquery.unobtrusive-ajax.js"    
        -->
    @{
        if (Model != null)
        {
            Html.RenderPartial("_UrlPaging", Model);
        }
            
    }
    <!-- end paging-->


</div>
