@using Hyt.Infrastructure.Pager
@model PagedList<Hyt.Model.CBReportShopCustomerConsume>
<div class="boxs_listtabel">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_bnone border_rnone">
        <thead>
            <tr>
               
                <th width="100">门店编号</th>
                <th class="align_l p10_l">门店名称</th>
                <th width="110">会员消费笔数</th>
                 <th width="90">日期</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                var mode = Model.TData as List<Hyt.Model.CBReportShopCustomerConsume>;
                if (mode != null && mode.Count > 0)
                {
                    foreach (var item in (List<Hyt.Model.CBReportShopCustomerConsume>)Model.TData)
                    {
                        if (i % 2 == 0)
                        {
                            @Html.Raw("<tr>")
                        }else{
                            @Html.Raw("<tr class='stag_color'>")
                        }
                        
                        <td>@item.门店编号</td>
                        <td  class="align_l p10_lr">@item.门店名称</td>
                        <td>@item.会员消费笔数</td>
                        <td>@item.日期</td>
                        @Html.Raw("</tr>")
                        i++;
                    }
                }
                else
                {
                    <tr><td colspan="5" class="align_l p10_l bgr_eb">暂无数据</td></tr>
                }
                
            }
        </tbody>
    </table>
</div>

@{Html.RenderPartial("_UrlPaging", Model); }