@using Hyt.BLL.Warehouse
@using Hyt.Model.SystemPredefined
@using Hyt.Model.WorkflowStatus
@model Hyt.Infrastructure.Pager.PagedList<Hyt.Model.WhInventoryOut>

<table id="item_list" width="100%" border="0" cellspacing="0" cellpadding="0" class="border_rnone">
    <thead>
        <tr>
            <th width="53">
                <input type="checkbox" value="0" id="select_all" />
            </th>
            <th class="wd75">出库单号</th>
            <th width="200">来源单据编号</th>
            <th class="align_l p10_lr">所属仓库</th>
            <th width="120">创建时间</th>
            <th width="56">状态</th>
            <th width="217" class="border_rnone">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TData != null && Model.TData.Count > 0)
        {
            foreach (var item in Model.TData)
            {
                <tr>
                    <td>
                        <input name="sysno" type="checkbox" value="@item.SysNo" />
                    </td>
                    <td class="blue"><a href="#" name="detail" title="查看出库单明细">@item.SysNo</a></td>
                    <td>
                        @{
                string sourceCode = "";
                var aalEntity = Hyt.BLL.Warehouse.AtAllocationBo.Instance.GetAtAllocationEntity(item.SourceSysNO);
                if (aalEntity != null)
                {
                    sourceCode = aalEntity.AllocationCode;
                }
                        }
                        <a href="#" @*onclick="ShowInfo(@item.SourceSysNO)" title="查看 :@item.SourceSysNO"*@>@sourceCode</a>
                    </td>
                    <td class="align_l p10_lr">@WhWarehouseBo.Instance.GetWarehouseName(item.WarehouseSysNo)</td>
                    <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@((WarehouseStatus.采购退货出库单状态)item.Status)</td>
                    <td>
                        @switch (item.Status)
                        {
                            case (int)WarehouseStatus.采购退货出库单状态.已出库:
                                {
                                    <button class="btn btn_ht26 m10_r btn_blue WH1010101" title="查看" data-id="@item.SysNo" name="detail" type="button">
                                        <span class="icon_tosee icon_white"></span><span class="m5_l">查看</span>
                                    </button>
                                    <button class="btn btn_ht26 disabled WH1010103" title="作废" disabled="disabled" type="button"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                                    break;
                                }
                            case (int)WarehouseStatus.采购退货出库单状态.作废:
                                {
                                    <button class="btn btn_ht26 m10_r btn_blue WH1010101" title="查看" data-id="@item.SysNo" name="detail" type="button">
                                        <span class="icon_tosee icon_white"></span><span class="m5_l">查看</span>
                                    </button>
                                    <button class="btn btn_ht26 disabled WH1010103" title="作废" disabled="disabled" type="button"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                                    break;
                                }
                            case (int)WarehouseStatus.采购退货出库单状态.部分出库:
                                {
                                    <button class="btn btn_ht26 m10_r btn_blue WH1010102" title="出库" data-id="@item.SysNo" name="in_stock_create" type="button">
                                        <span class="icon_tostore icon_white"></span><span class="m5_l">出库</span>
                                    </button>
                                    <button class="btn btn_ht26 disabled WH1010103" title="作废" disabled="disabled" type="button"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                                    break;
                                }
                            default:
                                {
                                    <button class="btn btn_ht26 m10_r btn_blue WH1010102" title="出库" data-id="@item.SysNo" name="in_stock_create" type="button">
                                        <span class="icon_tostore icon_white"></span><span class="m5_l">出库</span>
                                    </button>
                                    <button class="btn btn_ht26 btn_red WH1010103" title="作废" data-id="@item.SysNo" name="cancel" type="button"><span class="icon_forbidden icon_white"></span><span class="m5_l">作废</span></button>
                                    break;
                                }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="align_l p10_l bgr_eb">暂无数据</td>
            </tr>
        }
    </tbody>
</table>

@{Html.RenderPartial("_UrlPaging", Model); }

<script type="text/javascript">
    $(function () {
        DAO.InterlineStyle();

        //点击出库单编号事件
        $("#item_list").delegate("a[name='detail']", "click", function () {
           
            var url = '/Warehouse/InventoryOutDetails?sysNo=' + $(this).text();
            UI.DialogOpen(url, {
                title: '出库单明细',
                width: 1000,
                height: 608,
                init: function () {
                    this.button({ name: "取消" });
                }
            }, false);
        });

        //查看事件
        $("#item_list").delegate("button[name='detail']", "click", function () {
           
            var id = $(this).attr("data-id");
            var url = '/Warehouse/InventoryOutDetails?sysNo=' + id;
            UI.DialogOpen(url, {
                title: '出库单明细',
                width: 1000,
                height: 608,
                init: function () {
                    this.button({ name: "取消" });
                }
            }, false);
        });

        //全选
        $("#select_all").click(function () {
          
            $("[name='sysno']").attr('checked', this.checked);
        });

        $("#item_list").delegate("input[name='sysno']", "click", function () {

            if ($(this).is(":checked") == false) {
                $("#select_all").removeAttr("checked");
            }
            var result = checkItems();
            if (result) {
                $("#select_all").attr('checked', 'checked');
            }
        });

        function checkItems() {
            var result = true;
            $("input[name='sysno']").each(function () {
                if ($(this).is(":checked") == false) {
                    result = false;
                }
            });
            return result;
        }

        //商品出库
        $("#item_list").delegate("button[name='in_stock_create']", "click", function () {
            var id = $(this).attr("data-id");
            var url = '/Warehouse/AtAllocationOutConfirm?sysNo=' + id;
            UI.DialogOpen(url, {
                title: '商品出库',
                width: 1000,
                height: 608,
                init: function () {
                    this.button({
                        name: '确认出库',
                        callback: function () {
                            var iframe = this.iframe.contentWindow;
                            if (!iframe.document.body) {
                                UI.Alert({ content: '页面还没加载完毕呢！' });
                                return false;
                            };
                            iframe.inStockComplete();
                            return false;
                        },
                        focus: true
                    }, {
                        name: "取消"
                    });
                }
            });
        });

        //出库单作废
        $("#item_list").delegate("button[name='cancel']", 'click', function () {
            var id = $(this).attr("data-id");
            UI.Confirm({
                content: '您确定要作废' + id + '这条出库单吗？', width: '230px',
                ok: function () {
                    if (id) {
                        var mask = UI.Mask({ obj: $('body'), opacity: 0.2 });
                        $.ajax({
                            type: "POST",
                            url: "/Warehouse/InventoryOutCancel?sysNo=" + id,
                            chche: false,
                            success: function (ret) {
                                if (ret.IsLogout) {
                                    eval(data.Callback);
                                    return;
                                }
                                if (ret.StatusCode == 0) {
                                    showTip("出库单" + id + "作废成功!");
                                } else {
                                    UI.Alert({ content: ret.Message });
                                }
                                mask.Remove();
                            },
                            error: function (ex) {
                                mask.Remove();
                                UI.Alert({ content: '操作出错,请稍候重试!' });
                            }
                        });
                    }
                }
            });
        });
    });
</script>