@using Hyt.Infrastructure.Pager
@using Hyt.Model
@using Hyt.Util
@model PagedList<FeArticleCategory>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border_rnone">
    <thead>
        <tr>
            <th style="text-align: left; text-indent: 10px;">分类名称</th>
            <th style="text-align: left; text-indent: 10px;">描述</th>
            <th style="width: 60px">排序号</th>
            <th style="width: 46px">状态</th>
            <th style="width: 243px" class="borde_r_none">操作</th>
        </tr>
    </thead>
    <tbody class="list_con" width="100%" border="0" cellspacing="0" cellpadding="0">
        @{
            const int audit = (int)Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态.已审;
            const int invalid = (int)Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态.作废;
            const int pending = (int)Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态.待审;
            if (Model.TotalItemCount >0)
            {
                int row = 1;
                string cs = string.Empty;
                foreach (var item in Model.TData)
                {
                    cs = row % 2 == 0 ? "stag_color" : string.Empty;
            <tr class="@cs">
                <td style="text-align: left; text-indent: 10px">@FormatUtil.GetUnicodeSubString(HttpUtility.HtmlDecode(item.Name),47,"...")</td>
                <td style="text-align: left; text-indent: 10px;">@FormatUtil.GetUnicodeSubString(HttpUtility.HtmlDecode(item.Description),47,"...")</td>
                <td>@item.DisplayOrder</td>
                <td>@EnumUtil.GetDescription(typeof(Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态), item.Status)</td>
                <td>


                    @{
                    if (item.Status == (int)Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态.已审)
                    {
                        <button type="button"  class="btn btn_ht26 btn_red m10_r FE1004601" title="取消审核" onclick="audit(@item.SysNo,@pending,2)"><span class="icon_cancelAudit icon_white"></span><span class="m5_l">取消审核</span></button><button type="button" class="btn btn_ht26 disabled m10_r FE1004201" title="修改"><span class="icon_pencil"></span><span class="m5_l">修改</span></button><button type="button" class="btn btn_ht26 disabled FE1004501" title="作废"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                    }
                    else if (item.Status == (int)Hyt.Model.WorkflowStatus.ForeStatus.文章分类状态.作废)
                    {
                        <button type="button" class="btn btn_ht26 disabled m10_r FE1004601" title="审核"><span class="icon_audit"></span><span class="m5_l">审核通过</span></button><button type="button" class="btn btn_ht26 disabled m10_r FE1004201" title="修改"><span class="icon_pencil"></span><span class="m5_l">修改</span></button><button type="button" class="btn btn_ht26 disabled FE1004501" title="作废"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                    }
                    else
                    {
                        <button type="button"  class="btn btn_ht26 btn_blue m10_r FE1004601"  title="审核" onclick=" audit(@item.SysNo, @audit,0) "><span class="icon_audit icon_white"></span><span class="m5_l">审核通过</span></button><button type="button" class="btn btn_ht26 btn_blue m10_r FE1004201" title="修改" onclick=" addOrEdit(@item.SysNo) "><span class="icon_pencil icon_white"></span><span class="m5_l">修改</span></button><button type="button" class="btn btn_ht26 btn_red FE1004501" title="作废" onclick=" audit(@item.SysNo, @invalid,1) "><span class="icon_forbidden icon_white"></span><span class="m5_l">作废</span></button>
                    }
                    }
                </td>
            </tr>
                    row++;
                }
            }
              else
            {
            <tr class="odd_color">
                <td class="align_l p10_l bgr_eb" colspan="5">暂无数据</td>
            </tr>
            }
        }
    </tbody>
</table>
@{Html.RenderPartial("_UrlPaging", Model); }
