@using Hyt.Infrastructure.Pager
@using Hyt.Model
@using Hyt.Model.SystemPredefined
@model PagedList<CBFeNews>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新闻管理";
    @Html.PrivilegeControl(PrivilegeCode.FE1013002, "button.FE1013002")
    @Html.PrivilegeControl(PrivilegeCode.FE1013003, "button.FE1013003")
    @Html.PrivilegeControl(PrivilegeCode.FE1013004, "button.FE1013004")
    @Html.PrivilegeControl(PrivilegeCode.FE1013005, "button.FE1013005")
}

@section headjs{
    <script type="text/javascript" src="/Theme/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        var searchNameTxt = "请输入新闻名称...";
        function dialog(content) {
            UI.Alert({
                content: content
            });
        }

        function tip_alert(mode, context) {
            UI.tips.tip_alert(mode, context);
        }
        
        function selectProduct(newsSysNo) {
            var url, title, w, h;
            url = "/Front/FeNewsProductAssociation/?newsSysNo=" + newsSysNo;
            title = "商品管理";
            name = "修改";
            w = 700;
            h = 510;
            UI.DialogOpen(url, {
                title: title,
                width: w,
                height: h,
                init: function() {
                    this.button(
                        {
                            name: '关闭',
                        }
                    );
                }
            });
        }
        
        function addOrEdit(sysNo) {
            var url, title, w, h;
            if (sysNo != 0) {
                url = "/Front/FeNewsAddOrEdit/?sysNo=" + sysNo;
                title = "修改新闻";
                name = "修改";
                w = 800;
                h = 590;
            } else {
                url = "/Front/FeNewsAddOrEdit/?sysNo=0";
                title = "添加新闻";
                w = 800;
                h = 590; //加入平台类型
            }
            UI.DialogOpen(url, {
                title: title,
                width: w,
                height: h,
                init: function () {
                    this.button(
                        {
                            name: '保存',
                            callback: function () {
                                var iframe = this.iframe.contentWindow;
                                var form = iframe.document.getElementById('form');
                                if (!iframe.document.body) {
                                    alert('iframe还没加载完毕呢');
                                    return false;
                                }
                                ;
                                iframe.addOrEdit();
                                return false;
                            },
                            focus: true
                        },
                        {
                            name: '取消',
                        }
                    );
                }
            });
        }
        
        /// <summary>
        /// 单条更新状态
        /// </summary>
        /// <param name="content">提示内容</param>
        /// <param name="status">状态</param>
        /// <param name="sysNo">系统编号</param>

        function UpdateStatus(content, status, sysNo) {
            var result = [];

            var json = {};
            json.sysNo = sysNo;
            json.status = status;

            result.push(json);

            UI.Confirm({
                content: content,
                ok: function () {
                    $.ajax({
                        url: "/Front/FeNewsStatus/",
                        data: JSON.stringify({ collocation: result }),
                        dataType: "json",
                        type: "POST",
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.IsLogout) {
                                eval(data.Callback);
                                return;
                            }
                            if (data.Status) {
                                UI.tips.tip_alert('tips_success', data.Message);
                                doSearch();
                                UI.Dialog.close();
                            } else {
                                UI.tips.tip_alert('tips_wrong', data.Message);
                                UI.Dialog.close();
                            }
                        }
                    });
                },
                cancel: true
            });
        }

        function doSearch() {
            AjaxStart();

            var searchStaus = $("#status").val();
            var searchKey = $("#searchKey").val().trim();
            var json = {};
            json.id = 1;

            if ($.trim(searchStaus) != "") {
                json.status = searchStaus;
            }

            if ($.trim(searchKey) != "" && searchKey != searchNameTxt) {
                json.title = searchKey;
            }

            $.get('/Front/FeNews?r=' + Math.random(), json, function (data) {
                $('#paging').html(data);
                AjaxStop();
            });
        }
    </script>
}
<div class="case">
    <div class="boxs">
        <div class="boxs_tit head_m"><h3>新闻管理</h3></div>
        <div class="boxs_con_c1">
            <!--搜索-->
            <div class="boxs_tool">
                <div class="right_tool">
                    <span class="fl m10_l veralign_t">新闻状态</span>
                    <div class="m10_l fl">
                        <select id="status" name="status" class="select_ht28" onchange="doSearch()">
                            <option value="-1">全部</option>
                            @{
                                string sel;
                                foreach (var dict in (IDictionary<int, string>)ViewBag.DictList)
                                {
                                    <option value="@dict.Key">@dict.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <span class="fl m10_l veralign_t">新闻名称</span>
                    <div class="search_btn m10_l fl">
                        <input name="searchKey" type="text" id="searchKey" class="input_ht28" maxlength="20" value="请输入新闻名称..." onmouseover="this.focus()" onblur="if (this.value =='') this.value='请输入新闻名称...'" onclick="if (this.value == '请输入新闻名称...') this.value = ''" />
                        <button type="button" title="搜索" class="btn btn_ht28 m10_l fl" onclick="doSearch()"><span class="icon_search"></span><span class="m5_l"></span></button>
                    </div>
                </div>
          
                <div>
                    <button type="button" class="btn btn_ht26 btn_blue FE1013002"  onclick="addOrEdit(0)"><span class="icon icon_plus icon_white"></span><span class="m5_l">添加新闻</span></button>
                </div>
            </div>
            <div class="boxs_list">
                <!--/表格列表区-->
                <div class="boxs_listtabel">
                    @{Html.RenderPartial("_AjaxFeNews", Model); }
                </div>
            </div>
        </div>
    </div>
</div>

