@using Hyt.Infrastructure.Pager
@using Hyt.Model.SystemPredefined
@model PagedList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "商品组管理";
    @Html.PrivilegeControl(PrivilegeCode.FE1009201, "button.FE1009201")
    @Html.PrivilegeControl(PrivilegeCode.FE1009601, "button.FE1009601")
}
@section headjs{
    <script type="text/javascript" src="~/Theme/scripts/UI.yui.js"></script>
    <script type="text/javascript" src="~/Theme/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Theme/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        var searchNameTxt = "请输入商品组名称...";
        $(function () {
            UI.CheckAllbox(".boxs_listtabel", ".checkall");
            //设置默认参数
            $("body").keydown(function (event) {
                switch (event.keyCode) {
                    case 13:
                        searchClass();
                        break;
                }
            });
        });
        function addOrEdit(sysNo) {
            var url, title,height;
            if (sysNo != 0) {
                url = "/Front/FeProductGroupUpdate/" + sysNo;
                title = "修改商品组";
                name = "修改";
                height = '230px';
            } else {
                url = "/Front/FeProductGroupAdd/";
                title = "添加商品组";
                height = '226px';//添加商品组增加了图片和平台类型
            }
            UI.DialogOpen(url, {
                title: title,
                width: '555px',
                height: height,
                init: function () {
                    this.button(
                        {
                            name: '保存',
                            callback: function() {
                                var iframe = this.iframe.contentWindow;
                                iframe.addOrEdit();
                                return false;
                            },
                            focus: true
                        },
                        {
                            name: "取消"
                        }
                    );
                }
            });
        }
        
        function dialog(content) {
            UI.Alert({
                content: content
            });
        }
        
        function tip_alert(mode, context) {
            UI.tips.tip_alert(mode, context);
        }
        
        /// <summary>
        /// 更新状态
        /// </summary>
        /// <param name="mode">方式</param>
        /// <param name="status">状态=[0,1]</param>
        /// <param name="sysNo">商品组编号</param>
        function UpdateStatus(content,status,sysNo) {
            var result = [];

            var json = {};
            json.sysNo = sysNo;
            json.status = status;
            
            result.push(json);
            
            UI.Confirm({
                content: content,
                ok: function () {
                    $.ajax({
                        url: "/Front/FeProductStatus/",
                        data: JSON.stringify({ collocation: result }),
                        dataType: "json",
                        type: "POST",
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.IsLogout) {
                                eval(data.Callback);
                                return;
                            }
                            if (data.result) {
                                UI.tips.tip_alert('tips_success', data.info);
                                RefreshCurrentPage();
                                UI.Dialog.close();
                            } else {
                                UI.tips.tip_alert('tips_wrong', data.info);
                                UI.Dialog.close();
                            }
                        }
                    });
                },
                cancel: true
            });
        }
        //批量更新
        function UpdateFeProductGroupStatus()
        {
            var result = [];
            $("#collocationASTable tbody input:checkbox:checked").each(function () {
                var json = {};
                json.sysNo = $(this).val();
                json.status = @((int)Hyt.Model.WorkflowStatus.ForeStatus.商品组状态.启用);
                result.push(json);
            });
            if (result.length == 0) {
                UI.Alert({ content: '请选择批量审核的商品组数据' });
                return;
            }
            console.info(result);
            UI.Confirm({
                content: "确定要批量启用商品组吗？",
                ok: function () {
                    $.ajax({
                        url: "/Front/UpdateStatus/",
                        data: JSON.stringify({ collocation: result }),
                        dataType: "json",
                        type: "POST",
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.IsLogout) {
                                eval(data.Callback);
                                return;
                            }
                            if (data.result) {
                                UI.tips.tip_alert('tips_success',data.info);
                                RefreshCurrentPage();
                                UI.Dialog.close();
                            } else {
                                UI.tips.tip_alert('tips_wrong', data.info);
                                UI.Dialog.close();
                            }
                        }
                    });
                },
                cancel: true
            });
        }
        //异步刷新当前页，不适用于删除功能使用后刷新
        function RefreshCurrentPage() {
            try {
                $(window).data('CurrentPageFuc')();
            } catch (e) {
                refresh(1)       
            }
        }

        function refresh(id) {
            var json = { id: id };
            var searchStaus = $("#status").val();
            var searchPlatformType = $("#platform").val();
            
            if ($.trim(searchStaus) != "") {
                json.status = searchStaus;
            }
            
            json.platformType = searchPlatformType;

            $.get('/Front/FeProductGroup/', json, function (data) {
                $('#paging').html(data);
            });
        }
        function searchClass() {
            AjaxStart();
            var searchKey = $("#searchKey").val().trim();
            var searchStaus = $("#status").val();
            var searchPlatformType = $("#platform").val();

            var json = { 
                id: 1, 
                status: searchStaus,
                platformType : searchPlatformType
            };

            if ($.trim(searchKey) != "" && searchKey != searchNameTxt) {
                json = { id: 1, status: searchStaus, key: searchKey };
            }
            $.get('/Front/FeProductGroup/', json, function (data) {
                $('#paging').html(data);
                AjaxStop();
            });
        }
    </script>
}
<div class="case">
<div class="boxs">
	<div class="boxs_tit head_m"><h3>商品展示</h3></div>
	<div class="boxs_con_c1">
        <!--搜索-->
        <div class="boxs_tool">
            <div class="right_tool">
                  <span class="fl veralign_t">商品组状态</span>
                <div class="m10_l fl">
                    <select id="status" name="status" class="select_ht28" onchange="searchClass()">
                        <option value="-1">全部</option>
                        @{
                            string sel;
                            foreach (var dict in (IDictionary<int, string>)ViewBag.StatusList)
                            {
                                //sel = dict.Key == (int)Hyt.Model.WorkflowStatus.ForeStatus.商品组状态.启用 ? "selected='selected'" : string.Empty;
                                <option value="@dict.Key">@dict.Value</option>
                            }
                        }
                    </select>
                </div>
                <span class="fl m10_l veralign_t">平台过滤</span>
                <div class="m10_l fl">
                    <select id="platform" name="platform" class="select_ht28" onchange="searchClass()">
                        <option value="-1">全部</option>
                        @{
                            foreach (var dict in (IDictionary<int, string>)ViewBag.PlatformList)
                            {
                                string sels;
                                //sels = dict.Key == (int)Hyt.Model.WorkflowStatus.ForeStatus.商品组平台类型.PC网站 ? "selected='selected'" : string.Empty;
                                <option value="@dict.Key">@dict.Value</option>
                            }
                        }
                    </select>
                </div>
                <span class="fl m10_l veralign_t">商品组名称</span>
                <div class="search_btn m10_l fl">
                    <input name="searchKey" type="text" id="searchKey" maxlength="20" class="input_ht28" value="请输入商品组名称..." onmouseover="this.focus()" onblur="if (this.value =='') this.value='请输入商品组名称...'" onclick="if (this.value == '请输入商品组名称...') this.value = ''" />
                    <button type="button" title="搜索" class="btn btn_ht28 m10_l fl" onclick="searchClass()"><span class="icon_search"></span><span class="m5_l"></span></button>
                </div>
              </div>
          <div>
            <button type="button" class="btn btn_ht26 btn_blue FE1009201"  onclick="addOrEdit(0)"><span class="icon icon_plus icon_white"></span><span class="m5_l">添加商品组</span></button><button type="button" class="btn btn_ht26 btn_blue m10_l FE1009601"  onclick="UpdateFeProductGroupStatus()"><span class="icon icon_unlock icon_white"></span><span class="m5_l">批量启用</span></button>
          </div>
        </div>

        <div class="boxs_list">
          <!--/表格列表区-->
         <div class="boxs_listtabel">
          @{Html.RenderPartial("_AjaxFeProductGroup", Model); }
          </div>
        </div>
  </div>
</div>
</div>