@using Hyt.Infrastructure.Pager;
@model Hyt.Infrastructure.Pager.PagedList<Hyt.Model.CBLgDelivery>

@{
    IList<Hyt.Model.CBLgDelivery> cbLgDelivery = Model.TData;
    if (cbLgDelivery == null)
    {
        cbLgDelivery = new List<Hyt.Model.CBLgDelivery>();
    }
    Model.OnComplete = "tableOnload";
}


<div class="boxs_listtabel">
    <!--/表格列表区-->
    <table class="border_bnone border_rnone" width="100%" border="0" cellspacing="0" cellpadding="0" >
        <thead>
            <tr>
                @*<th width="53">
                    <input type="checkbox" id="select_all_checkbox" /></th>*@
                <th class="wd75">配送单号</th>
                <th class="align_l p10_lr">配送人/快递</th>
                <th width="80px">创建人</th>
                <th width="116px">创建日期</th>
                <th width="80px">已付款单量</th>
                <th class="wd100" style="display: none">已付款金额</th>
                <th width="92px">货到付款单量</th>
                <th class="wd100">货到付款金额</th>
                <th width="68px">状态</th>
                <th width="145px">操作</th>
            </tr>
        </thead>
    
        <tbody id="delivery_note_main_table">
            @if (cbLgDelivery.Count == 0)
            {
                <tr id="data_tips_tr">
                    <td colspan="10" class="align_l p10_l bgr_eb">暂无数据</td>
                </tr>
            }

            @{
                bool alter = false;
            }
            @foreach (Hyt.Model.CBLgDelivery item in cbLgDelivery)
            {
                <tr @(alter ? "" : "class = stag_color")>
                    @*<td>
                        <input type="checkbox" name="delivery_note_box" value="@item.SysNo" /></td>*@
                    <td>
                        <a href="@Url.Action("DeliveryNoteDetails")/@item.SysNo" style="color:#2592DB;text-decoration: underline;">@item.SysNo</a>
                    </td>
                    @{
                        string deliveryUserName;
                        if (item.DeliveryUserSysNo > 0)
                        {
                            //deliveryUserName = item.DeliveryManName;
                            var syuser = Hyt.BLL.Sys.SyUserBo.Instance.GetSyUser(item.DeliveryUserSysNo);
                            deliveryUserName = syuser == null ? "未知配送人" + item.DeliveryUserSysNo : syuser.UserName;
                        }
                        else
                        {
                            var delivery = Hyt.BLL.Logistics.DeliveryTypeBo.Instance.GetDeliveryType(item.DeliveryTypeSysNo);
                            deliveryUserName = delivery == null ? "未知配送方式:" + item.DeliveryTypeSysNo : delivery.DeliveryTypeName;
                        }


                        var createUser = Hyt.BLL.Sys.SyUserBo.Instance.GetSyUser(item.CreatedBy);
                        string createName = createUser == null ? "未知创建人" : createUser.UserName;

                    }
                    <td class="align_l p10_lr">@deliveryUserName </td>
                    <td>@createName</td>
                    <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@item.PaidNoteCount</td>
                    <td class="red p10_r align_r" style="display: none">@item.PaidAmount.ToString("C")</td>
                    <td>@item.CODNoteCount</td>
                    <td class="red p10_r align_r">@item.CODAmount.ToString("C")</td>
                    <td>
                        @(((Hyt.Model.WorkflowStatus.LogisticsStatus.配送单状态)item.Status).ToString())
                    </td>
                    <td>
                        
                        @if (item.Status == (int)Hyt.Model.WorkflowStatus.LogisticsStatus.配送单状态.配送在途)
                        {
                            <button class="btn btn_blue m10_r btn_ht26"  name="print_btn" title="打印" sysno="@item.SysNo"><span class="icon icon_print icon_white" sysno="@item.SysNo"></span><span class="m5_l" sysno="@item.SysNo">打印</span></button><button type="button" sysno="@item.SysNo" class="btn btn_ht26 @if (item.IsCancel != 0)
                                                                                                                                                                                                                                                                                                         {
                                                                                                                                                                                                                                                                                                             @:disabled 
                                                                                                                                                                                                                                                                                                         }
                                                                                                                                                                                                                                                                                                         else
                                                                                                                                                                                                                                                                                                         {
                                                                                                                                                                                                                                                                                                             @:btn_red
                                                                                                                                                                                                                                                                                                         }" title="作废" @(item.IsCancel==0?"name=cancel_btn":"")><span class="icon_forbidden @if (item.IsCancel == 0)

                                                                                                                                                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                                                                                                                                            {
                                                                                                                                                                                                                                                                                                             @:icon_white 
                                                                                                                                                                                                                                                                                                         }"></span><span class="m5_l">作废</span></button>
                        }
                        else if (item.Status == (int)Hyt.Model.WorkflowStatus.LogisticsStatus.配送单状态.作废)
                        {
                            <button class="btn m10_r btn_ht26 disabled" title="打印" sysno="@item.SysNo"><span class="icon icon_print"></span><span class="m5_l">打印</span></button><button type="button" class="btn btn_ht26 disabled" title="作废"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                        }
                        else
                        {
                            <button class="btn btn_blue m10_r btn_ht26"  name="print_btn" title="打印" sysno="@item.SysNo"><span class="icon icon_print icon_white" sysno="@item.SysNo"></span><span class="m5_l" sysno="@item.SysNo">打印</span></button><button type="button" class="btn btn_ht26 disabled" title="作废"><span class="icon_forbidden"></span><span class="m5_l">作废</span></button>
                        }

                    </td>
                </tr>
                
                alter = !alter;
            }

        </tbody>
    </table>

</div>

@{Html.RenderPartial("_UrlPaging", Model); }

