@*退货查看公共控件*@
@using Hyt.BLL.Product
@model Hyt.Admin.Models.ReturnView
<div class="tit_con">
    @*订单信息*@
    @{Html.RenderAction("RmaOrderInfo", new { id = Model.OrderSysNo });}
</div>

<div class="border_left border_right border_bottom">
    <div class="tit_dispay m10_t border_bottom">
        <h5>退货明细数据</h5>
    </div>
    @foreach (var list in Model.ReturnEditOutStore)
    {
        <div class="boxs_tool">
            <div class="left_tool line30">
                <span class=" m10_r">出库单编号:</span>@list.SysNo<span class="m10_l m10_r">出库单金额:</span><span class="red">&yen;@list.StockOutAmount.ToString("0.00")</span><span class="m10_l m10_r">出库单状态:</span><span class="red">@list.StatusName</span><span class="m10_l"></span>@list.SignTime.ToString("yyyy-MM-dd HH:mm")
            </div>
        </div>
        <div class="boxs_listtabel">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="border_rnone">
                <thead>
                    <tr>
                        <th width="110">商品编号</th>
                        <th>后台显示名称</th>
                        <th width="90">商品原单价</th>
                        <th width="70">购买数量</th>
                        <th width="90">实际销售金额</th>
                        <th width="70">可退数量</th>
                        <th width="70">退货数量</th>
                        <th width="90">退款金额</th>
                        <th width="160">退货原因</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0; foreach (var item in list.ReturnWhStockOutItemEx)
                      {
                          if (i % 2 == 0)
                          {
                        @Html.Raw("<tr>")
                          }
                          else
                          {
                        @Html.Raw("<tr class='stag_color'>")
                          }              
                        <td>@Hyt.BLL.Product.PdProductBo.Instance.GetProductErpCode(item.ProductSysNo)</td>
                        <td>@PdProductBo.Instance.GetProductEasName(item.ProductSysNo)</td>
                        <td align="right" class="red p10_r">&yen;@item.OriginalPrice.ToString("0.00")</td>
                        <td>@item.ProductQuantity</td>
                        <td align="right" class="red p10_r">&yen;@item.RealSalesAmount.ToString("0.00")</td>
                        <td>@item.ProductQuantityAble</td>
                        <td>@item.RmaQuantity</td>
                        <td align="right" class="red p10_r">&yen;@item.RefundAmount.ToString("0.00")</td>
                        <td>@item.RmaReason</td>
                        @Html.Raw("</tr>")
                          i++;
                      }
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="tit_con">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="border_tnone">
            <tbody>
                <tr>
                    <td width="100" class="nameright">应退金额:</td>
                    <td width="100"  class="red p10_r border_right">&yen;<span id="tdOrginAmount">@Model.OrginAmount</span></td>
                    <td width="100" class="nameright">应退会员币:</td>
                    <td id="tdOrginCoin" class="p10_r border_right">@Model.OrginCoin</td>
                    <td width="100" class="nameright">应扣回积分:</td>
                    <td id="tdOrginPoint" class="p10_r border_right">@Model.OrginPoint</td>
                    <td width="100" class="nameright">扣回优惠卷:</td>
                    <td  class="red p10_r">&yen;<span id="tdCouponAmount">@Model.CouponAmount</span></td>
                </tr>
                <tr>
                    <td width="100" class="nameright">实退金额:</td>
                    <td width="22%" class="red border_right">&yen;@Model.ActualRefundAmount.ToString("0.00")</td>
                    <td class="nameright">实退会员币</td>
                    <td id="tdRefundCoin" class="border_right">@Model.RefundCoin</td>
                    <td class="nameright">实扣回积分</td>
                    <td id="tdRefundPoint" class="border_right">@Model.RefundPoint</td>
                    <td class="nameright">积分现金补偿金额</td>
                    <td class="red p10_r">&yen;<span id="tdRedeemAmount">@Model.RedeemAmount</span></td>
                </tr>
                <tr>
                    </tr>
                @if (Model.RefundType == Convert.ToInt32(Hyt.Model.WorkflowStatus.RmaStatus.退换货退款方式.至银行卡))
                {
                    <tr>
                        <td class="nameright">退款开户账号:</td>
                        <td class="border_right">@Model.RefundAccount</td>
                        <td class="nameright">退款开户人:</td>
                        <td class="border_right">@Model.RefundAccountName</td>
                        <td width="100" class="nameright">退款开户行:</td>
                        <td colspan="3">@Model.RefundBank</td>
                    </tr>
                }
                @if (Model.DeductedInvoiceAmount > 0)
                {
                    <tr>
                        <td class="nameright">发票扣款金额:</td>
                        <td colspan="7">&yen;@Model.DeductedInvoiceAmount.ToString("0.00")</td>
                    </tr>
                }
                <tr>
                    <td width="100" class="nameright">退款方式:</td>
                    <td width="22%" class="border_right">@Model.RefundTypeName</td>
                    <td width="100" class="nameright">商品入库仓库:</td>
                    <td class="border_right">@Model.WhStockInName</td>
                    <td class="nameright">会员退货方式:</td>
                    <td colspan="3">@Model.LgPickupTypeName</td>
                </tr>
                <tr>
                    <td class="nameright">联系人:</td>
                    <td colspan="7">@if (Model.PickUpAddress != null)
                                    {@Model.PickUpAddress.Name}</td>
                </tr>
                <tr>
                    <td class="nameright">联系电话:</td>
                    <td colspan="7">@if (Model.PickUpAddress != null)
                                    {@Model.PickUpAddress.MobilePhoneNumber}</td>
                </tr>
                <tr>
                    <td class="nameright">取货地址:</td>
                    <td colspan="7">@Model.PickUpAddressFullName</td>
                </tr>
                <tr>
                    <td class="nameright">预约时间:</td>
                    <td colspan="7">@Model.PickUpTime</td>
                </tr>
                <tr>
                    <td class="nameright">是否取回发票:</td>
                    <td colspan="7">@Model.IsPickUpInvoice
                    </td>
                </tr>
                <tr>
                    <td class="nameright">会员备注:</td>
                    <td colspan="7">@Model.RMARemark</td>
                </tr>
                <tr>
                    <td class="nameright border_bnone">对内备注:</td>
                    <td class="border_bnone" colspan="7">@Model.InternalRemark</td>
                </tr>
                
                @{
                    if (Model.RmaImages != null && Model.RmaImages.Any())
                    {
                        var url = Hyt.BLL.Config.Config.Instance.GetAttachmentConfig().FileServer;
                        <tr>
                            <td colspan="8">
                                <div class="Rmapicshow clearfix">
                                    <ul>
                                        @{
                                            foreach (var item in Model.RmaImages)
                                            {
                                                <li><img src="@Html.Raw(url + item.ImageUrl)" title="" width="100" height="100" style="cursor:pointer" /></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<script type="text/ecmascript">
    $(".Rmapicshow ul li img").Diapic();
</script>